@import "tailwindcss";

@theme {
  --color-fundo-site: #0f1c15;
  --color-verde-cs: #16281f;
  --color-verde-texto:#91ee77;
  --color-verde-bolinha:#91ee77;
}




@utility site {
  max-width: 1200px;
  margin: 0 auto;
}